name: DevSecOps Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependancies
      run: pip install -r requirements.txt

    - name: Install security tools
      run: |
        pip install bandit pip-audit

    - name: Install gitleaks
      run: sudo apt-get update && sudo apt-get install -y gitleaks

    - name: Bandit security scan
      run: bandit -r . -q -f json -o bandit-report.json --severity-level medium -x venv,env,.venv

    - name: Gitleaks secret scan
      run: gitleaks detect --source=. --exit-code=1 --redact --report-format=json --report-path=gitleaks-report.json

    - name: Pip-audit dependency scan
      run: pip-audit -f cyclonedx-json -o pip-audit-report.json

    - name: Upload security reports
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: security-reports
        path: |
          bandit-report.json
          gitleaks-report.json
          pip-audit-report.json
